html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.recent-scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.add-score {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recent-scores-container {
  width: 50%;
}

#score-container {
  padding: 0 0 0 5%;
  margin: 0;
  border: 1px solid black;
}
